In [2]:
#Import des librairies

import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
import plotly.express as px

In [19]:
%%capture capt
p_soins=pd.read_csv("./data/p_soins_GHM.csv", index_col=0)
patients=pd.read_csv("./data/profil_patient.csv")

p_soins=p_soins.rename(columns={'0':'CODE_PATIENT'})

p_soins=p_soins.set_index('CODE_PATIENT')
patients=patients.set_index('CODE_PATIENT')

In [23]:
patients.head()

,date_h0,y_nais,BEN_RES_DPT,BEN_SEX_COD,dte_deces,Mort,Nb_survie,Nb_hospit,CHOC,Nb_jours_sej,cat_age,cat_nb_hospit,cat_nb_jours_sej,cluster
CODE_PATIENT,,,,,,,,,,,,,,
P0,2011-11-22,1949,11,1,NaN,False,2596,9,False,23,1,1,1,0
P6,2013-12-05,1929,14,2,2015-03,True,456,8,False,51,2,1,1,1
P8,2015-07-02,1967,54,2,2015-08,True,41,3,True,43,0,1,1,2
P13,2011-05-19,1959,974,1,NaN,False,2783,2,False,3,0,1,0,3
P16,2010-03-18,1947,76,1,NaN,False,3210,9,False,28,1,1,1,0

In [24]:
p_soins.head()

,1,2,3,4,5,6,7,8,9,10,...,244,245,246,247,248,249,250,251,252,253
CODE_PATIENT,,,,,,,,,,,,,,,,,,,,,
P0,05K051,05M042,05M16T,05M09T,05M092,05C191,05M20Z,05M20Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P6,02C05J,02C05J,05M093,04M132,05C222,23M103,04M053,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P8,11M041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P13,05M04T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P16,08C11V,23M15Z,05K102,05M08T,05K102,05C191,23M101,05K191,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
p_soins

,1,2,3,4,5,6,7,8,9,10,...,245,246,247,248,249,250,251,252,253,Mort
CODE_PATIENT,,,,,,,,,,,,,,,,,,,,,
P0,05K051,05M042,05M16T,05M09T,05M092,05C191,05M20Z,05M20Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
P6,02C05J,02C05J,05M093,04M132,05C222,23M103,04M053,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
P8,11M041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
P13,05M04T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
P16,08C11V,23M15Z,05K102,05M08T,05K102,05C191,23M101,05K191,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P24302,04M05V,23M20T,05M082,06M033,09M031,05M093,10M182,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
P24303,05M094,05M09T,05K052,23M101,09M053,05C143,23M101,09M053,20Z051,20Z051,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
P24304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
P24308,05M091,04M173,04M171,04C042,23M061,07M023,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
P24310,08C322,08C14J,08C322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [60]:
p_soins.iloc[0][0]

'05K051'

In [52]:
p_soins.iloc[1][0]

'02C05J'

In [ ]:
source=[]
for p in tqdm(range(1, len(p_soins))):
    i=1
    while p_soins.iloc[p][i] != pd.NaN
    source.append(